<button mat-raised-button (click)="NavigateHomePage()">Home Page</button>
<div
  style="
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
  "
  *ngIf="Loadding"
>
  <mat-spinner></mat-spinner>
</div>

<div
  style="display: flex; flex-direction: row; justify-content: center"
  *ngIf="!Loadding"
>
  <div class="container2">
    <div style="width: 70%; padding: 20px">
      <div style="margin-bottom: 30px">
        <h2>HELLO</h2>
        <label>Enter your email and password to login.</label>
      </div>
      <form>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            [(ngModel)]="FromLogin.email"
            name="email"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="FromLogin.password"
            name="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <div style="display: flex; justify-content: space-between">
        <div>
          <input type="checkbox" />
          <label>Remember Me</label>
        </div>
        <label style="text-decoration: underline"> Forgot Password? </label>
      </div>
      <div style="display: flex; justify-content: space-between">
        <button
          style="cursor: pointer; background-color: gray"
          class="ButtonLogin ColorLogin"
          *ngIf="!FromLogin.email || !FromLogin.password"
        >
          Login
        </button>
        <button
          style="cursor: pointer; background-color: #7879f1"
          class="ButtonLogin ColorLogin"
          (click)="Login()"
          *ngIf="FromLogin.email && FromLogin.password"
        >
          Login
        </button>
      </div>

      <div>
        <label
          style="display: flex; justify-content: center; margin-bottom: 20px"
        >
          Or, login with
        </label>

        <div style="display: flex; justify-content: center; gap: 20px">
          <!-- <button mat-raised-button>Facebook</button>
          <button mat-raised-button>Linked In</button>
          <button mat-raised-button>Google</button> -->
          <button
            class="ButtonLogin"
            style="cursor: pointer; background-color: white; color: black"
          >
            Facebook
          </button>
          <button
            class="ButtonLogin"
            style="cursor: pointer; background-color: white; color: black"
          >
            Linked In
          </button>
          <button
            class="ButtonLogin"
            style="cursor: pointer; background-color: white; color: black"
          >
            Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
